<div class="app-page-surface">
  <app-page-header eyebrow="Masters" title="Profile Colors">
    <p-button actions routerLink="add">Add New</p-button>
  </app-page-header>
  <div class="app-table-card">
    <div class="table-responsive">
      <p-table
    #dt1
    [value]="profileList"
    dataKey="id"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="[
      'category',
      'profile_code',
      'profile_name',
      'rate_meter'
    ]"
  >
    <ng-template pTemplate="caption">
      <button
        pButton
        label="Clear"
        class="p-button-outlined"
        icon="pi pi-filter-slash"
        (click)="clear(dt1)"
      ></button>
      <span class="p-input-icon-left ml-auto">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          [(ngModel)]="inputValue"
          (input)="dt1?.filterGlobal(inputValue, 'contains')"
        />
      </span>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="color_name" style="width: 22%" scope="col">
          Color Name <p-sortIcon field="color_name"></p-sortIcon>
        </th>
        <th pSortableColumn="color_code" style="width: 22%" scope="col">
          Color Code <p-sortIcon field="color_code"></p-sortIcon>
        </th>
        <th pSortableColumn="is_default" style="width: 22%" scope="col">
          Default <p-sortIcon field="is_default"></p-sortIcon>
        </th>
        <th style="width: 12%" scope="col">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-profile>
      <tr>
        <td>{{ profile.color_name }}</td>
        <td>{{ profile.color_code }}</td>
        <td>{{ profile.is_default === 1 ? "Yes" : "No" }}</td>
        <td>
          <p-button
            icon="pi pi-pencil"
            pTooltip="Edit color"
            aria-label="Edit color"
            [routerLink]="['edit', profile.id]"
            styleClass="p-button-rounded p-button-text"
          ></p-button>
          <p-button
            icon="pi pi-trash"
            *ngIf="profile.is_default === 0"
            pTooltip="Delete color"
            aria-label="Delete color"
            (click)="deleteColor(profile)"
            styleClass="p-button-rounded p-button-text p-button-danger"
          ></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">No records yet</td>
      </tr>
    </ng-template>
  </p-table>
    </div>
  </div>
</div>
