<div class="d-flex mb-5 justify-content-between align-items-center">
  <h4 class="">Bills</h4>
</div>
<div class="card">
  <p-table
    #dt1
    [value]="bills"
    [paginator]="true"
    [rows]="5"
    [globalFilterFields]="['customerName']"
    (sortFunction)="customSort($event)"
    [customSort]="true"
    [tableStyle]="{ 'min-width': '60rem' }"
    [rowsPerPageOptions]="[5, 10, 15]"
  >
    <ng-template pTemplate="caption">
      <button
        pButton
        label="Clear"
        class="p-button-outlined"
        icon="pi pi-filter-slash"
        (click)="clear(dt1)"
      ></button>
      <span class="p-input-icon-left ml-auto">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          [(ngModel)]="inputValue"
          (input)="dt1?.filterGlobal(inputValue, 'contains')"
        />
      </span>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name" style="width: 40%" scope="row">
          Customer Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="description" style="width: 40%" scope="row">
          Amount <p-sortIcon field="description"></p-sortIcon>
        </th>
        <th pSortableColumn="actions" style="width: 20%" scope="row">
          Actions
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-bills>
      <tr>
        <td>{{ bills.customer_name }}</td>
        <td>{{ bills.amount }}</td>
        <td>
          <p-button
            icon="pi pi-pencil"
            (click)="openModel(bills)"
            styleClass="p-button-rounded p-button-text"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
