.text-class {
  display: flex;
  justify-content: end;
  color: black;
  margin-top: 15px;
  font-size: large;
  text-align: end;
  padding: 15px 0px;
}
#design {
  border: 1px solid black;
  background-color: darkgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}

.classIner {
  width: 15%;
}
