<h2 class="mb-5">{{ edit ? "Edit Quotation" : "Add Quotation" }}</h2>
<c-container>
  <c-row class="align-items-center text-class">
    <!-- <svg [cIcon]="circleIcon" width="10" title="Shield Icon"></svg> -->
    <button cButton color="danger" class="classIner" (click)="resetDesign()">
      Refresh Design
    </button>
    <strong class="classIner">Total - {{ price }}</strong>
  </c-row>
  <c-row class="align-items-start">
    <c-container>
      <c-row>
        <c-col>
          <div *ngIf="!rectSelected">
            <form cForm [formGroup]="form">
              <c-row>
                <c-col>
                  <div class="mb-3">
                    <label cLabel="" for="quantity">Quantity</label>
                    <input
                      aria-describedby="quantity"
                      cFormControl
                      id="quantity"
                      type="number"
                      formControlName="quantity"
                    />
                    <small
                      class="error"
                      *ngIf="
            (f['quantity']?.errors?.['required'] && f['quantity'].touched) ||
            (f['quantity']?.errors?.['required'] && submitted)
          "
                      >Quantity is required</small
                    >
                  </div></c-col
                >
                <c-col>
                  <div class="mb-3">
                    <label cLabel="" for="quantity">Profile Color</label>
                    <select
                      aria-label="Default select example"
                      cSelect
                      formControlName="color"
                    >
                      <option disabled>Please select Profile Color</option>
                      <option *ngFor="let color of colors" [ngValue]="color">
                        {{ color.color_name }}
                      </option>
                    </select>
                    <small
                      class="error"
                      *ngIf="
            (f['color_name']?.errors?.['required'] && f['color_name'].touched) ||
            (f['color_name']?.errors?.['required'] && submitted)
          "
                      >Color is required</small
                    >
                  </div></c-col
                >
              </c-row>
              <c-row>
                <c-col>
                  <div class="mb-3">
                    <label cLabel="" for="height">Height</label>
                    <input
                      aria-describedby="height"
                      cFormControl
                      id="height"
                      type="number"
                      formControlName="height"
                    />
                    <small
                      class="error"
                      *ngIf="
            (f['height']?.errors?.['required'] && f['height'].touched) ||
            (f['height']?.errors?.['required'] && submitted)
          "
                      >Height is required</small
                    >
                  </div></c-col
                >
                <c-col>
                  <div class="mb-3">
                    <label cLabel="" for="width">Width</label>
                    <input
                      aria-describedby="width"
                      cFormControl
                      id="width"
                      type="number"
                      formControlName="width"
                    />
                    <small
                      class="error"
                      *ngIf="
            (f['width']?.errors?.['required'] && f['width'].touched) ||
            (f['width']?.errors?.['required'] && submitted)
          "
                      >Width is required</small
                    >
                  </div></c-col
                >
              </c-row>
              <div style="display: flex; gap: 10px">
                <button cButton color="primary" (click)="submit()">Save</button>
                <button
                  cButton
                  color="secondary"
                  (click)="toggleWarningModal()"
                >
                  Cancel
                </button>
              </div>
            </form>
          </div>
          <ng-container *ngIf="rectSelected">
            <h4 style="padding: 20px 0px">Design Specification</h4>
            <div>
              <form cForm [formGroup]="designSpecificationForm">
                <c-row>
                  <c-col>
                    <div class="mb-3">
                      <label cLabel="" for="category">Category Type</label>
                      <select
                        aria-label="Category Type"
                        id="category"
                        cSelect
                        formControlName="category_type"
                      >
                        <option disabled>Please select Category Type</option>
                        <option
                          *ngFor="let category of categoryList"
                          [value]="category"
                        >
                          {{ category }}
                        </option>
                      </select>
                      <small
                        class="error"
                        *ngIf="
            (f['category_type']?.errors?.['required'] && f['category_type'].touched) ||
            (f['category_type']?.errors?.['required'] && submitted)
          "
                        >Category Type is required</small
                      >
                    </div></c-col
                  >
                  <c-col>
                    <div class="mb-3">
                      <label cLabel="" for="glass">Glass</label>
                      <select
                        aria-label="Glass"
                        id="glass"
                        cSelect
                        formControlName="glazz_id"
                      >
                        <option disabled>Please select Glass</option>
                        <option
                          *ngFor="let glass of glassList"
                          [value]="glass.id"
                        >
                          {{ glass.name }}
                        </option>
                      </select>
                      <small
                        class="error"
                        *ngIf="
            (f['glazz_id']?.errors?.['required'] && f['glazz_id'].touched) ||
            (f['glazz_id']?.errors?.['required'] && submitted)
          "
                        >Glass is required</small
                      >
                    </div></c-col
                  >
                </c-row>
                <c-row>
                  <c-col>
                    <div class="mb-3">
                      <label cLabel="" for="product_type">Product Type</label>
                      <select
                        aria-label="Product Type"
                        id="product_type"
                        cSelect
                        formControlName="product_type"
                      >
                        <option disabled>Please select Product Type</option>
                        <option *ngFor="let type of typeList" [value]="type">
                          {{ type }}
                        </option>
                      </select>
                      <small
                        class="error"
                        *ngIf="
            (f['product_type']?.errors?.['required'] && f['glazz_id'].touched) ||
            (f['product_type']?.errors?.['required'] && submitted)
          "
                        >Product Type is required</small
                      >
                    </div></c-col
                  >
                  <c-col>
                    <div class="mb-3">
                      <label cLabel="" for="product_id">Frame</label>
                      <select
                        aria-label="Frame"
                        id="product_id"
                        cSelect
                        formControlName="product_id"
                      >
                        <option disabled>Please select Frame</option>
                        <option
                          *ngFor="let profile of profileList"
                          [value]="profile.id"
                        >
                          {{ profile.profile_name }}
                        </option>
                      </select>
                      <small
                        class="error"
                        *ngIf="
            (f['product_id']?.errors?.['required'] && f['product_id'].touched) ||
            (f['product_id']?.errors?.['required'] && submitted)
          "
                        >Frame is required</small
                      >
                    </div></c-col
                  >
                </c-row>
                <c-row
                  *ngIf="
                    df['category_type'].value === 'Slidding' ||
                    (df['category_type'].value === 'Casement' &&
                      df['casement_type'].value === 'Openable')
                  "
                >
                  <c-col>
                    <div class="mb-3">
                      <label cLabel="" for="sash_id">Sash</label>
                      <select
                        aria-label="Sash"
                        id="sash"
                        cSelect
                        formControlName="sash_id"
                      >
                        <option disabled>Please select Sash</option>
                        <option *ngFor="let sash of sashList" [value]="sash.id">
                          {{ sash.profile_code + "-" + sash.profile_name }}
                        </option>
                      </select>
                      <small
                        class="error"
                        *ngIf="
            (f['sash_id']?.errors?.['required'] && f['sash_id'].touched) ||
            (f['sash_id']?.errors?.['required'] && submitted)
          "
                        >Sash is required</small
                      >
                    </div></c-col
                  >
                  <c-col>
                    <div class="mb-3">
                      <label cLabel="" for="handle_id">Handle</label>
                      <select
                        aria-label="Handle"
                        id="handle_id"
                        cSelect
                        formControlName="handle_id"
                      >
                        <option disabled>Please select Handle</option>
                        <option
                          *ngFor="let handle of handleList"
                          [value]="handle.id"
                        >
                          {{ handle.name }}
                        </option>
                      </select>
                      <small
                        class="error"
                        *ngIf="
            (f['handle_id']?.errors?.['required'] && f['handle_id'].touched) ||
            (f['handle_id']?.errors?.['required'] && submitted)
          "
                        >Handle is required</small
                      >
                    </div></c-col
                  >
                </c-row>
                <c-row>
                  <c-col *ngIf="df['category_type'].value === 'Slidding'">
                    <div class="mb-3">
                      <label cLabel="" for="palla_type">Palla Type</label>
                      <select
                        aria-label="Palla Type"
                        id="palla_type"
                        cSelect
                        formControlName="palla_type"
                      >
                        <option disabled>Please select Palla Count</option>
                        <option
                          *ngFor="let palla_type of palla_type_slidding"
                          [value]="palla_type"
                        >
                          {{ palla_type }}
                        </option>
                      </select>
                      <small
                        class="error"
                        *ngIf="
            (f['palla_type']?.errors?.['required'] && f['palla_type'].touched) ||
            (f['palla_type']?.errors?.['required'] && submitted)
          "
                        >Palla Type is required</small
                      >
                    </div></c-col
                  >
                  <c-col
                    *ngIf="
                      df['category_type'].value === 'Casement' &&
                      df['casement_type'].value === 'Openable'
                    "
                  >
                    <div class="mb-3">
                      <label cLabel="" for="palla_type">Palla Type</label>
                      <select
                        aria-label="Palla Type"
                        id="palla_type"
                        cSelect
                        formControlName="palla_type"
                      >
                        <option disabled>Please select Palla Count</option>
                        <option
                          *ngFor="let palla_type of palla_type_openable"
                          [value]="palla_type"
                        >
                          {{ palla_type }}
                        </option>
                      </select>
                      <small
                        class="error"
                        *ngIf="
            (f['palla_type']?.errors?.['required'] && f['palla_type'].touched) ||
            (f['palla_type']?.errors?.['required'] && submitted)
          "
                        >Palla Type is required</small
                      >
                    </div></c-col
                  >
                  <c-col *ngIf="df['category_type'].value === 'Slidding'">
                    <div class="mb-3">
                      <label cLabel="" for="is_track">Track</label>
                      <select
                        aria-label="Track"
                        id="is_track"
                        cSelect
                        formControlName="is_track"
                      >
                        <option disabled>Please select Track</option>
                        <option
                          *ngFor="let sliddingType of sliddingTypes"
                          [value]="sliddingType"
                        >
                          {{ sliddingType }}
                        </option>
                      </select>
                      <small
                        class="error"
                        *ngIf="
            (f['is_track']?.errors?.['required'] && f['is_track'].touched) ||
            (f['is_track']?.errors?.['required'] && submitted)
          "
                        >Track is required</small
                      >
                    </div></c-col
                  >

                  <c-col
                    *ngIf="
                      df['category_type'].value === 'Casement' &&
                      df['casement_type'].value === 'Openable'
                    "
                  >
                    <div class="mb-3">
                      <label cLabel="" for="hinges_type">Hinge Type</label>
                      <select
                        aria-label="Hinge Type"
                        id="hinges_type"
                        cSelect
                        formControlName="hinges_type"
                      >
                        <option disabled>Please select Hinge Type</option>
                        <option
                          *ngFor="let hinge of hingesType"
                          [value]="hinge"
                        >
                          {{ hinge }}
                        </option>
                      </select>
                      <small
                        class="error"
                        *ngIf="
            (f['hinges_type']?.errors?.['required'] && f['hinges_type'].touched) ||
            (f['hinges_type']?.errors?.['required'] && submitted)
          "
                        >Hinge Type is required</small
                      >
                    </div></c-col
                  >
                </c-row>
                <c-row>
                  <c-col *ngIf="df['category_type'].value === 'Casement'">
                    <div class="mb-3">
                      <label cLabel="" for="casement_type">Casement Type</label>
                      <select
                        aria-label="Casement Type"
                        id="casement_type"
                        cSelect
                        formControlName="casement_type"
                      >
                        <option disabled>Please select Casement Type</option>
                        <option
                          *ngFor="let casementType of casementTypes"
                          [value]="casementType"
                        >
                          {{ casementType }}
                        </option>
                      </select>
                      <small
                        class="error"
                        *ngIf="
            (f['casement_type']?.errors?.['required'] && f['casement_type'].touched) ||
            (f['casement_type']?.errors?.['required'] && submitted)
          "
                        >Casement Type is required</small
                      >
                    </div></c-col
                  >
                  <c-col
                    style="margin-top: 45px"
                    *ngIf="
                      df['category_type'].value === 'Slidding' &&
                      (df['is_track'].value === '2.5 Track' ||
                        df['is_track'].value === '3 Track')
                    "
                  >
                    <div class="mb-3">
                      <label cLabel="" for="fly_mesh" style="margin-right: 10px"
                        >Fly Mesh</label
                      >
                      <input
                        cFormCheckInput
                        id="fly_mesh"
                        type="checkbox"
                        formControlName="fly_mesh"
                      /></div
                  ></c-col>
                  <c-col style="margin-top: 45px">
                    <div class="mb-3">
                      <label
                        cLabel=""
                        for="is_cupler"
                        style="margin-right: 10px"
                        >Is Cupler</label
                      >
                      <input
                        cFormCheckInput
                        id="is_cupler"
                        type="checkbox"
                        formControlName="is_cupler"
                      /></div
                  ></c-col>
                </c-row>
                <c-row style="margin-top: 45px">
                  <c-col>
                    <div class="mb-3">
                      <label
                        cLabel=""
                        for="is_louvers"
                        style="margin-right: 10px"
                        >Is Louvers</label
                      >
                      <input
                        cFormCheckInput
                        id="is_louvers"
                        type="checkbox"
                        formControlName="is_louvers"
                      /></div
                  ></c-col>

                  <c-col>
                    <div class="mb-3">
                      <label
                        cLabel=""
                        for="is_lshape"
                        style="margin-right: 10px"
                        >Is Lshape</label
                      >
                      <input
                        cFormCheckInput
                        id="is_lshape"
                        type="checkbox"
                        formControlName="is_lshape"
                      /></div
                  ></c-col>
                </c-row>
                <div style="display: flex; gap: 10px">
                  <button cButton color="primary" (click)="saveDesign()">
                    Save Design
                  </button>
                </div>
              </form>
            </div>
          </ng-container>
          <div></div>
        </c-col>
        <c-col>
          <div id="design" #design class="design margin-class"></div>
        </c-col>
      </c-row>
    </c-container>
  </c-row>

  <c-row class="align-items-end" style="padding-top: 50px">
    <p-table
      #dt1
      [value]="costheadInfo"
      [paginator]="true"
      [rows]="6"
      [globalFilterFields]="[
        'product_no',
        'name',
        'type',
        'cost',
        'totalCost',
        'quantity'
      ]"
      (sortFunction)="customSort($event)"
      [customSort]="true"
      [tableStyle]="{ 'min-width': '60rem' }"
      [rowsPerPageOptions]="[5, 10, 15]"
    >
      <ng-template pTemplate="caption">
        <button
          pButton
          label="Clear"
          class="p-button-outlined"
          icon="pi pi-filter-slash"
          (click)="clear(dt1)"
        ></button>

        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            [(ngModel)]="inputValue"
            (input)="dt1?.filterGlobal(inputValue, 'contains')"
          />
        </span>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="product_no" style="width: 15%" scope="row">
            Product Number
            <p-sortIcon field="product_no"></p-sortIcon>
          </th>
          <th pSortableColumn="name" style="width: 20%" scope="row">
            Name <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="type" style="width: 20%" scope="row">
            Type <p-sortIcon field="type"></p-sortIcon>
          </th>
          <th pSortableColumn="cost" style="width: 20%" scope="row">
            Cost <p-sortIcon field="cost"></p-sortIcon>
          </th>
          <th pSortableColumn="totalCost" style="width: 15%" scope="row">
            Total Cost <p-sortIcon field="totalCost"></p-sortIcon>
          </th>
          <th pSortableColumn="quantity" style="width: 10%" scope="row">
            Quantity <p-sortIcon field="quantity"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-quotation>
        <tr>
          <td>{{ quotation.product_no }}</td>
          <td>{{ quotation.name }}</td>
          <td>{{ quotation.type }}</td>
          <td>{{ quotation.cost | currency : "INR" }}</td>
          <td>{{ quotation.totalCost | currency : "INR" }}</td>
          <td>{{ quotation.quantity }}</td>
        </tr>
      </ng-template>
    </p-table>
  </c-row>
</c-container>
