<p-toast></p-toast>
<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="4">
        <c-alert
          (visibleChange)="onVisibleAlertChange($event)"
          [visible]="visibleAlert"
          [color]="alertType"
          dismissible
          fade
          variant="solid"
        >
          <ng-template cTemplateId="alertButtonCloseTemplate">
            <button (click)="visibleAlert = false" cButtonClose white></button>
          </ng-template>
          <strong>{{ alertMessage }}</strong>
        </c-alert>
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form cForm [formGroup]="form" (ngSubmit)="submit()">
                <h1>Login</h1>
                <p class="text-medium-emphasis">Sign In to your account</p>
                <label cLabel for="loginEmail" class="mb-1">Email</label>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input
                    id="loginEmail"
                    autoComplete="email"
                    cFormControl
                    placeholder="Email"
                    formControlName="email"
                  />
                </c-input-group>
                <small
                  class="error d-block mb-2"
                  *ngIf="
                    form.controls['email'].errors?.['required'] &&
                    (form.controls['email'].touched || submitted)
                  "
                  >Email is required</small
                >
                <label cLabel for="loginPassword" class="mb-1">Password</label>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    id="loginPassword"
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Password"
                    type="password"
                    formControlName="password"
                  />
                </c-input-group>
                <small
                  class="error d-block mb-2"
                  *ngIf="
                    form.controls['password'].errors?.['required'] &&
                    (form.controls['password'].touched || submitted)
                  "
                  >Password is required</small
                >
                <small
                  class="error d-block mb-2"
                  *ngIf="
                    form.controls['password'].errors?.['minlength'] &&
                    (form.controls['password'].touched || submitted)
                  "
                  >Password must be at least 8 characters</small
                >
                <c-row>
                  <c-col xs="6">
                    <button cButton class="px-4" color="dark" type="submit">
                      Login
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
