<h2 class="mb-5">{{ edit ? "Edit Quotation" : "Add Quotation" }}</h2>
<div>
  <div class="box">
    <div>
      <form [formGroup]="form">
        <div class="formMainDiv">
          <div>
            <label class="mb-2 block font-bold" for="quantity">Quantity</label>
            <p-inputNumber
              [showButtons]="true"
              formControlName="quantity"
              inputId="quantity"
              mode="decimal"
              [min]="1"
              [max]="100"
            >
            </p-inputNumber>
            <small
              class="error"
              *ngIf="
            (f['quantity']?.errors?.['required'] && f['quantity'].touched) ||
            (f['quantity']?.errors?.['required'] && submitted)
          "
              >Quantity is required</small
            >
          </div>
          <div>
            <label class="mb-2 block font-bold" for="color"
              >Profile Color</label
            >
            <p-dropdown
              [options]="colors"
              class="displaySelect"
              optionLabel="color_name"
              placeholder="Select a Color"
              formControlName="color"
            ></p-dropdown>
            <small
              class="error"
              *ngIf="
            (f['color_name']?.errors?.['required'] && f['color_name'].touched) ||
            (f['color_name']?.errors?.['required'] && submitted)
          "
              >Profile Color is required</small
            >
          </div>
          <div>
            <label class="mb-2 block font-bold" for="width">Width</label>
            <p-inputNumber
              [showButtons]="true"
              formControlName="width"
              inputId="width"
              mode="decimal"
              [step]="100"
              [min]="200"
              [max]="5800"
            >
            </p-inputNumber>
            <small
              class="error"
              *ngIf="
            (f['width']?.errors?.['required'] && f['width'].touched) ||
            (f['width']?.errors?.['required'] && submitted)
          "
              >Width is required</small
            >
          </div>
          <div>
            <label class="mb-2 block font-bold" for="height">Height</label>
            <p-inputNumber
              [showButtons]="true"
              [step]="100"
              formControlName="height"
              inputId="height"
              mode="decimal"
              [min]="200"
              [max]="5800"
            >
            </p-inputNumber>
            <small
              class="error"
              *ngIf="
            (f['height']?.errors?.['required'] && f['height'].touched) ||
            (f['height']?.errors?.['required'] && submitted)
          "
              >Height is required</small
            >
          </div>
        </div>
      </form>
      <ng-container *ngIf="rectSelected" style="margin-top: 40px">
        <h3>Design Specification</h3>
        <form [formGroup]="designSpecificationForm">
          <div class="formMainDiv">
            <div>
              <label class="mb-2 block font-bold" for="category_type"
                >Category Type</label
              >
              <p-dropdown
                [options]="categoryList"
                class="displaySelect"
                placeholder="Select a Category"
                formControlName="category_type"
              ></p-dropdown>
            </div>

            <div>
              <label class="mb-2 block font-bold" for="glazz_id">Glass</label>
              <p-dropdown
                [options]="glassList"
                class="displaySelect"
                optionLabel="name"
                dataKey="id"
                placeholder="Select a Glass"
                formControlName="glazz_id"
              ></p-dropdown>
            </div>
            <div>
              <label class="mb-2 block font-bold" for="product_type"
                >Product Type</label
              >
              <p-dropdown
                [options]="typeList"
                class="displaySelect"
                placeholder="Select a Type"
                formControlName="product_type"
              ></p-dropdown>
            </div>
            <div>
              <label class="mb-2 block font-bold" for="product_id">Frame</label>
              <p-dropdown
                [options]="profileList"
                class="displaySelect"
                optionLabel="profile_name"
                placeholder="Select a Frame"
                formControlName="product_id"
                dataKey="id"
              ></p-dropdown>
            </div>
            <div *ngIf="df['category_type'].value === 'Casement'">
              <label class="mb-2 block font-bold" for="casement_type"
                >Casement Type</label
              >
              <p-dropdown
                [options]="casementTypes"
                class="displaySelect"
                placeholder="Select a Casement Type"
                formControlName="casement_type"
              ></p-dropdown>
            </div>
            <div
              *ngIf="
                df['category_type'].value === 'Casement' &&
                df['casement_type'].value === 'Openable'
              "
            >
              <label class="mb-2 block font-bold" for="palla_type">Palla</label>
              <p-dropdown
                [options]="palla_types"
                class="displaySelect"
                placeholder="Select a Palla"
                formControlName="palla_type"
              ></p-dropdown>
            </div>
            <div
              *ngIf="
                (df['category_type'].value === 'Casement' &&
                  df['casement_type'].value === 'Openable') ||
                df['category_type'].value === 'Slidding'
              "
            >
              <label class="mb-2 block font-bold" for="sash_id">Sash</label>
              <p-dropdown
                [options]="sashList"
                class="displaySelect"
                id="sash_id"
                optionLabel="profile_name"
                placeholder="Select a Sash"
                formControlName="sash_id"
              ></p-dropdown>
            </div>
            <div
              *ngIf="
                df['category_type'].value === 'Casement' &&
                df['casement_type'].value === 'Openable'
              "
            >
              <label class="mb-2 block font-bold" for="hinges_type"
                >Hinges</label
              >
              <p-dropdown
                [options]="hingesType"
                class="displaySelect"
                id="hinges_type"
                placeholder="Select a Sash"
                formControlName="hinges_type"
              ></p-dropdown>
            </div>
            <div *ngIf="df['category_type'].value === 'Slidding'">
              <label class="mb-2 block font-bold" for="is_track">Track</label>
              <p-dropdown
                [options]="sliddingTypes"
                class="displaySelect"
                id="is_track"
                placeholder="Select a Track"
                formControlName="is_track"
              ></p-dropdown>
            </div>
            <div
              *ngIf="
                (df['category_type'].value === 'Casement' &&
                  df['casement_type'].value === 'Openable') ||
                df['category_type'].value === 'Slidding'
              "
            >
              <label class="mb-2 block font-bold" for="handle_id">Handle</label>
              <p-dropdown
                [options]="handleList"
                class="displaySelect"
                id="handle_id"
                optionLabel="name"
                placeholder="Select a Handle"
                formControlName="handle_id"
              ></p-dropdown>
            </div>
            <div style="padding-top: 50px">
              <label
                for="is_cupler"
                class="mb-2 block font-bold"
                style="padding-right: 5px"
                >Is Cupler</label
              >
              <p-checkbox
                formControlName="is_cupler"
                value="true"
                inputId="is_cupler"
              ></p-checkbox>
            </div>
            <div style="padding-top: 25px">
              <label
                for="is_louvers"
                class="mb-2 block font-bold"
                style="padding-right: 5px"
                >Is Louvers</label
              >
              <p-checkbox
                formControlName="is_louvers"
                value="true"
                inputId="is_louvers"
              ></p-checkbox>
            </div>
            <div style="padding-top: 25px">
              <label
                for="is_lshape"
                class="mb-2 block font-bold"
                style="padding-right: 5px"
                >Is Lshape</label
              >
              <p-checkbox
                formControlName="is_lshape"
                value="true"
                inputId="is_lshape"
              ></p-checkbox>
            </div>
          </div>
        </form>
      </ng-container>
    </div>
    <div id="container" #container class="container margin-class"></div>
  </div>
  <div class="text-class">
    <strong>Total - {{ price }}</strong>
  </div>
  <div class="card mt-5">
    <p-table
      #dt1
      [value]="costheadInfo"
      [paginator]="true"
      [rows]="6"
      [globalFilterFields]="[
        'product_no',
        'name',
        'type',
        'cost',
        'totalCost',
        'quantity'
      ]"
      (sortFunction)="customSort($event)"
      [customSort]="true"
      [tableStyle]="{ 'min-width': '60rem' }"
      [rowsPerPageOptions]="[5, 10, 15]"
    >
      <ng-template pTemplate="caption">
        <button
          pButton
          label="Clear"
          class="p-button-outlined"
          icon="pi pi-filter-slash"
          (click)="clear(dt1)"
        ></button>

        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            [(ngModel)]="inputValue"
            (input)="dt1?.filterGlobal(inputValue, 'contains')"
          />
        </span>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="product_no" style="width: 15%" scope="row">
            Product Number
            <p-sortIcon field="product_no"></p-sortIcon>
          </th>
          <th pSortableColumn="name" style="width: 20%" scope="row">
            Name <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="type" style="width: 20%" scope="row">
            Type <p-sortIcon field="type"></p-sortIcon>
          </th>
          <th pSortableColumn="cost" style="width: 20%" scope="row">
            Cost <p-sortIcon field="cost"></p-sortIcon>
          </th>
          <th pSortableColumn="totalCost" style="width: 15%" scope="row">
            Total Cost <p-sortIcon field="totalCost"></p-sortIcon>
          </th>
          <th pSortableColumn="quantity" style="width: 10%" scope="row">
            Quantity <p-sortIcon field="quantity"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-quotation>
        <tr>
          <td>{{ quotation.product_no }}</td>
          <td>{{ quotation.name }}</td>
          <td>{{ quotation.type }}</td>
          <td>{{ quotation.cost | currency : "INR" }}</td>
          <td>{{ quotation.totalCost | currency : "INR" }}</td>
          <td>{{ quotation.quantity }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
