@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
.box {
  display: flex;
}

@media screen and (max-width: 768px) {
  .box {
    display: block;
  }
  .form-class {
    margin-right: 0px;
  }
}

#container {
  border: 1px solid black;
  background-color: darkgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}

.form-class {
  margin-top: 10px;
  margin-right: 20px;
}

.text-class {
  display: flex;
  justify-content: end;
  color: black;
  margin-top: 15px;
  font-size: large;
}

.text-class-comming {
  color: black;
  font-size: xx-large;
}
.formMainDiv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; /* Adjust the gap as needed */
  margin-right: 10px;
  margin-bottom: 15px;
}
.row {
  display: flex;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .formMainDiv {
    grid-template-columns: 1fr; /* Single column for smaller screens */
  }
}

.col {
  flex: 1;
  margin-right: 15px;
}

.error {
  font-weight: 600;
  color: red;
}
.font-bold {
  font-weight: 600;
  margin-bottom: 5px;
}

.p-dropdown {
  display: inline-flex !important;
  min-width: 100%;
}
