<h4 class="mb-5">{{ editable ? "Edit Quotation" : "Add Quotation" }}</h4>
<div>
  <div class="box">
    <form
      cForm
      class="row g-3 form-class"
      [formGroup]="form"
      (ngSubmit)="submit()"
    >
      <c-col [md]="6">
        <label cLabel for="quantity"
          >Quantity <span class="error">*</span></label
        >
        <input
          id="quantity"
          aria-label="Quantity"
          type="number"
          cFormControl
          placeholder="Quantity"
          formControlName="quantity"
        />
        <small
          class="error"
          *ngIf="
            (f['quantity']?.errors?.['required'] && f['quantity'].touched) ||
            (f['quantity']?.errors?.['required'] && submitted)
          "
          >Quantity is required</small
        >
      </c-col>

      <c-col [md]="6">
        <label cLabel for="width">Width <span class="error">*</span></label>
        <input
          id="width"
          cFormControl
          aria-label="Width"
          type="number"
          cFormControl
          placeholder="Width"
          formControlName="width"
        />
        <small
          class="error"
          *ngIf="
            (f['width']?.errors?.['required'] && f['width'].touched) ||
            (f['width']?.errors?.['required'] && submitted)
          "
          >Width is required</small
        >
      </c-col>
      <c-col [md]="6">
        <label cLabel for="height">Height <span class="error">*</span></label>
        <input
          id="height"
          cFormControl
          aria-label="Height"
          type="number"
          cFormControl
          placeholder="Height"
          formControlName="height"
        />
        <small
          class="error"
          *ngIf="
            (f['height']?.errors?.['required'] && f['height'].touched) ||
            (f['height']?.errors?.['required'] && submitted)
          "
          >Height is required</small
        >
      </c-col>
    </form>
    <div id="container" #container class="container margin-class"></div>
  </div>
  <div class="text-class">
    <strong>Total - {{ price }}</strong>
  </div>
</div>
