<div class="app-page-surface">
  <app-page-header eyebrow="Configuration" title="Areas">
    <p-button actions (click)="openModel()">Add New</p-button>
  </app-page-header>
  <div class="app-table-card">
    <div class="table-responsive">
      <p-table
    #dt1
    [value]="areas"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['name']"
    (sortFunction)="customSort($event)"
    [customSort]="true"
    [tableStyle]="{ 'min-width': '60rem' }"
    [rowsPerPageOptions]="[10, 25, 50]"
  >
    <ng-template pTemplate="caption">
      <button
        pButton
        label="Clear"
        class="p-button-outlined"
        icon="pi pi-filter-slash"
        (click)="clear(dt1)"
      ></button>
      <span class="p-input-icon-left ml-auto">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          [(ngModel)]="inputValue"
          (input)="dt1?.filterGlobal(inputValue, 'contains')"
        />
      </span>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name" style="width: 80%" scope="col">
          Area Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th style="width: 20%" scope="col">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-area>
      <tr>
        <td>{{ area.name }}</td>
        <td>
          <p-button
            icon="pi pi-pencil"
            pTooltip="Edit area"
            aria-label="Edit area"
            (click)="openModel(area)"
            styleClass="p-button-rounded p-button-text"
          ></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="2">No records yet</td>
      </tr>
    </ng-template>
  </p-table>
    </div>
  </div>
</div>
<c-modal
  id="liveDemoModal"
  [visible]="visible"
  backdrop="static"
  alignment="center"
  (visibleChange)="handleFormModal($event)"
>
  <c-modal-header>
    <h5 cModalTitle color="warm">{{ edit ? "Edit " : "Add " }}Area</h5>
  </c-modal-header>
  <c-modal-body>
    <div>
      <form [formGroup]="form">
        <c-row>
          <label cLabel="col" class="col-sm-2" for="Name">
            Name <span class="error">*</span>
          </label>
          <c-col [sm]="10">
            <input cFormControl id="Name" type="text" formControlName="name" />
            <small
              class="error"
              *ngIf="
            (f['name']?.errors?.['required'] && f['name'].touched) ||
            (f['name']?.errors?.['required'] && submitted)
          "
              >Name is required</small
            >
          </c-col>
        </c-row>
      </form>
    </div>
  </c-modal-body>
  <c-modal-footer>
    <p-button styleClass="p-button-secondary" (click)="toggleWarningModal()">
      Cancel
    </p-button>
    <p-button (click)="submit()">
      {{ edit ? "Save" : "Add" }}
    </p-button>
  </c-modal-footer>
</c-modal>
