<h4 class="mb-5">{{ editable ? "Edit Header" : "Add Header" }}</h4>
<div>
  <form [formGroup]="form">
    <c-row>
      <label cLabel="col" class="col-sm-1" for="description">
        Description
      </label>
      <c-col [sm]="5">
        <input
          cFormControl
          id="description"
          type="text"
          formControlName="description"
        />
        <small
          class="error"
          *ngIf="
            (f['description']?.errors?.['required'] && f['description'].touched) ||
            (f['description']?.errors?.['required'] && submitted)
          "
          >Description is required</small
        >
      </c-col>
      <label cLabel="col" class="col-sm-1" for="Name"> Name </label>
      <c-col [sm]="5">
        <input cFormControl id="Name" type="text" formControlName="name" />
        <small
          class="error"
          *ngIf="
            (f['name']?.errors?.['required'] && f['name'].touched) ||
            (f['name']?.errors?.['required'] && submitted)
          "
          >Name is required</small
        >
      </c-col>
    </c-row>
    <c-row class="mt-3">
      <label cLabel="col" class="col-sm-1" for="detail"> Detail </label>
      <c-col [sm]="12">
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
        </ngx-editor-menu>
        <ngx-editor [editor]="editor" formControlName="editorContent">
        </ngx-editor>
      </c-col>
    </c-row>
    <div class="mt-5 d-flex gap-4">
      <p-button [disabled]="saving" (click)="submit()"> {{ editable ? "Save" : "Add" }}</p-button>
      <p-button
        color="secondary"
        styleClass="p-button-secondary"
        (click)="toggleWarningModal()"
      >
        Cancel</p-button
      >
    </div>
  </form>
</div>
